.gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:854px !important;
    height:480px  !important;
    justify-content: flex-start;
}

.galleryItem {
    cursor:pointer;
    flex: 0 1 200px;
    margin: auto;
}

.galleryItem img {
    width:150px;
    height:100px;
}