<div class="container">
    <div class="jumbotron text-center">
        <h1><span> Edit Game</span></h1>
        <br>
        {{edit-game-form
            model=model
            editGame=(route-action "editGame")
        }}
</div>
</div>

{{outlet}}