<div class="container">
    <div class="jumbotron text-center">
            <h1><span> Games Are Art - Admin Dashboard</span></h1>
            <br>
            {{auth-menu session=session logout=(action "logout")}}
    </div>
    {{#if session.isAuthenticated}}
      <h3 style="text-align:center;">Welcome!</h3>
    {{/if}}
</div>

{{outlet}}