@import "bootstrap";

body {
    padding-top: 20px;
    font-family: 'Playfair Display', serif !important;
}

h1 {
    font-family: 'Playfair Display', serif !important;
}

hr{
    height: 1px;
    color: red !important;
    background-color: red  !important;
    border: none;
  }

.login {
    width:33% !important;
}

.flatpickr-input {
	cursor: pointer;
    z-index: 1;
    text-align:center;
}

.emberTagInput-tag {
    background: cornflowerblue;
    font-size:20px;
    border-radius: 20px;
    margin-right: 5px;
    color: white;
    font-family: 'Playfair Display', serif !important;
}
.emberTagInput-input {
    font-size:20px;
    text-align:center;
    font-family: 'Playfair Display', serif !important;
}

.emberTagInput-remove {
    color:darkblue;
}

.games-table {
  width:100%;
}

.games-table tr {
  width:100%;
}

.games-table th {
  font-size:18px;
  text-align:center;
  border-bottom:1px solid grey;
}

.games-table td {
  font-size:12px;
  width:auto;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
  max-width:100px;
  text-align:center;
  border-bottom:1px solid lightgrey;
  padding-bottom:10px;
  padding-top:10px;
}

.games-table .big-column {
  width:90%;
}

.games-table .small-column {
  width:4%;
}
