.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.infoContainer-enter {
  opacity: 0;
}

.infoContainer-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.infoContainer-exit {
  opacity: 1;
}

.infoContainer-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}