.about {
    text-align: left;
    font-family: 'Quando', serif;
    font-size: 15px;
    width:50vw;
    line-height: 1.5em;

    a {
        color: black;
        text-decoration: underline;
    }
}